.topic-box{
    width: 40rem;
    height: 17rem;
    margin: 5rem 3.2rem;
    padding: 0rem 1rem;
    border-radius: 1.5rem;
    background-color: var(--background);
    border: .1rem solid var(--purple-light);
    font-size: 1.5rem;
    display: flex;
    gap: .5rem;
    color: var(--purple);
}

.topic-box img {
    width: 8rem;
    height: 8rem;
    margin: auto 0;   
}

.text {
    /* padding: 1rem ; */
    text-align: left;
    margin: auto 0;
}

.text h3 {
    font-weight: 600;
}

.text p {
    margin-top: .5rem;
    font-size: 1.4rem;
}